torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
youtube-transcript-api
sentence-transformers
langchain
langchain-groq
langchain-core
faiss-cpu
numpy
pydantic
rank-bm25
python-dotenv